{{if data.connected}}
	<h3>{{:data.name}}</h3>
	<div class="item">
		<div class="itemLabel">
			Current Status:
		</div>
		<div class="itemContent">
			{{:data.status}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Current Status:
		</div>
		<div class="itemContent">
			{{:data.status}}
		</div>
	</div>
	{{if data.can_launch}}
		Available Destinations
		{{for data.beacons}}
			{{if value.status == 2}}
				{{:helper.link('REQUEST: {{:value.name}}', '', {'action' : 'request_dock', 'selected_ref' : value.ref})}}
			{{else}}
				{{:helper.link('DOCK: {{:value.name}}', '', {'action' : 'select_dock', 'selected_ref' : value.ref})}}
			{{/if}}
		{{/for}}
	{{else}}
		<br>Launch not available!
	{{/if}}
{{else}}
	<h3>Shuttle Construction</h3>
	<br><br>
	Build this console inside an empty docking zone, fill out the following information and attach the appropriate amount of engines and then finalize the construction through the docking beacon.
	<br>
	<div class="item">
		<div class="itemLabel">
			Desired Name:
		</div>
		<div class="itemContent">
			{{:helper.link(data.desired_name, 'pencil', {'set_name' : '1'}, null, null)}}
		</div>
	</div>
	<div class="item">
		<div class="itemLabel">
			Shuttle Ownership:
		</div>
		<div class="itemContent">
			{{:helper.link('Personal', '', {'set_personal' : '1'}, data.shuttle_type == 1 ? 'selected' : null, null)}}{{:helper.link('Organization', '', {'set_corporate' : '1'}, data.shuttle_type == 2 ? 'selected' : null, null)}}
		</div>
	</div>
	{{if data.shuttle_type == 2}}
		<div class="item">
			<div class="itemLabel">
				Link Organization:
			</div>
			<div class="itemContent">
				{{:helper.link(data.locked_to, 'pencil', {'set_locked_2' : '1'}, null, null)}}
			</div>
		</div>
	{{else}}
		<div class="item">
			<div class="itemLabel">
				Link Owner:
			</div>
			<div class="itemContent">
				{{:helper.link(data.locked_to, 'pencil', {'set_locked' : '1'}, null, null)}}
			</div>
		</div>
	{{/if}}
	
{{/if}}
<h3>Shuttle Status</h3>
<div class="item" style="padding-top: 10px">
	<div class="item">
		{{:data.shuttle_status}}
	</div>
</div>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemLabel">
			Engines:
		</div>
		<div class="itemContent">
			{{if data.shuttle_state == "idle"}}
				<span class="idle">IDLE</span>
			{{else data.shuttle_state == "warmup"}}
				<span style="font-weight: bold;color: #336699">STARTING IGNITION</span>
			{{else data.shuttle_state == "in_transit"}}
				<span style="font-weight: bold;color: #336699">ENGAGED</span>
			{{else}}
				<span class="bad">ERROR</span>
			{{/if}}
		</div>
	</div>
</div>
{{if data.has_docking}}
	<div class="item" style="padding-top: 10px">
		<div class="item">
			<div class="itemLabel">
				Docking Status:
			</div>
			<div class="itemContent">
				{{if data.docking_status == "docked"}}
					<span class="good">DOCKED</span>
				{{else data.docking_status == "docking"}}
					{{if !data.docking_override}}
						<span class="average">DOCKING</span>
					{{else}}
						<span class="average">DOCKING-MANUAL</span>
					{{/if}}
				{{else data.docking_status == "undocking"}}
					{{if !data.docking_override}}
						<span class="average">UNDOCKING</span>
					{{else}}
						<span class="average">UNDOCKING-MANUAL</span>
					{{/if}}
				{{else data.docking_status == "undocked"}}
					<span class="idle">UNDOCKED</span>
				{{else}}
					<span class="bad">ERROR</span>
				{{/if}}

			</div>
		</div>
	</div>
{{/if}}

<h3>Shuttle Control</h3>
<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemContent" style="padding-top: 2px; width: 100%">
			{{:helper.link('Launch Shuttle', 'arrowthickstop-1-e', {'move' : '1'}, data.can_launch? null : 'disabled' , null)}}
			{{:helper.link('Cancel Launch', 'cancel', {'cancel' : '1'}, data.can_cancel ? null : 'disabled' , null)}}
			{{:helper.link('Force Launch', 'alert', {'force' : '1'}, data.can_force? null : 'disabled' , data.can_force ? 'redButton' : null)}}
		</div>
	</div>
</div>