<h2>{{:data.business_name}} Management</h2><br>
{{:helper.link("Central Options", '', {'action' : 'change_menu', 'menu_target' : '1'}, data.menu == 1 ? 'selected' : null)}}
{{:helper.link("Employee Log", '', {'action' : 'change_menu', 'menu_target' : '2'}, data.menu == 2 ? 'selected' : null)}}	
{{:helper.link("View/Edit General Task", '', {'action' : 'change_menu', 'menu_target' : '3'}, data.menu == 3 ? 'selected' : null)}}	
<br><hr>
{{if data.menu == 1}}
	<h4>Central Options</h4>
	<div class='item'>
		<div class='itemLabel'>
			Business Status
		</div>
		<div class='itemContent'>
			{{:helper.link("Open", '', {'action' : 'business_open'}, data.business_status == 1 ? 'selected' : null)}}{{:helper.link("Closed", '', {'action' : 'business_close'}, data.business_status == 1 ? 'selected' : null)}}	
		</div>
	</div>
	Employees will not be able to clock in to the business when it's closed.
	<div class='item'>
		<div class='itemLabel'>
			Display Name
		</div>
		<div class='itemContent'>
			{{:helper.link(data.business_name, '', {'action' : 'business_name'})}}
		</div>
	</div>
	This name is used in many places where the business name is displayed, but the unchangeable UID will still be on contracts.
{{/if}}
{{if data.menu == 2}}
	<h4>Employee Log</h4>
	<div class="statusDisplay" style="overflow: auto;">
		{{for data.entries}}
			{{:value.entry}}<br>
		{{/for}}
	</div>
{{/if}}
{{if data.menu == 3}}
	<h4>View/Edit General Task</h4>
	<br>
	{{:helper.link('Edit Task', '', {'action' : 'business_task'})}}
	<div class="statusDisplay" style="overflow: auto;">
		{{:data.business_task}}
	</div>
{{/if}}