{{if data.has_log}}
	{{if data.menu == 1}}
		<h2>Connect to Logistic Network</h2>
		<br>{{:helper.link("Enter UID and Password", 'locked', {'action' : 'connect'})}}
	{{/if}}
	{{if data.menu == 2}}
		<h2>{{:data.faction_uid}}</h2><br>
		<h2>Authenticate Terminal</h2>
		<br>{{:helper.link("Enter Password", 'locked', {'action' : 'log_in'})}}
		<br><br>or<br>
		<br>{{:helper.link("Disconnect from Lognet", 'cross', {'action' : 'disconnect'})}}
		
	{{/if}}
	{{if data.menu == 3}}
		<h2>{{:data.faction_name}} ({{:data.faction_uid}})</h2><br>
		<h2>Logistics Network Control</h2>
		<br>{{:helper.link("Log Out", 'locked', {'action' : 'log_out', 'menu_target' : '4'})}}
		<hr>
		<br>{{:helper.link("Central Options", 'wrench', {'action' : 'change_menu', 'menu_target' : '4'})}}
		<br>{{:helper.link("Network Options", 'gear', {'action' : 'change_menu', 'menu_target' : '5'})}}
		<br>{{:helper.link("Access Config", 'locked', {'action' : 'change_menu', 'menu_target' : '6'})}}
		<br>{{:helper.link("Assignments Config", 'pencil', {'action' : 'change_menu', 'menu_target' : '7'})}}
	{{/if}}
	{{if data.menu == 4}}
		<h2>{{:data.faction_name}} ({{:data.faction_uid}})</h2><br>
		<h2>Central Options</h2>
		<hr>
		<br>{{:helper.link("Change Full Name", 'pencil', {'action' : 'change_name'})}} Full Name: <b>{{:data.faction_name}}</b>
		<br>{{:helper.link("Change Abbreviation", 'pencil', {'action' : 'change_abbreviation'})}} Abbreviation: <b>{{:data.faction_abbreviation}}</b>
		<br>{{:helper.link("Change Description/Mission Statement", 'pencil', {'action' : 'change_purpose'})}} Purpose: <b>{{:data.faction_purpose}}</b>
		<br>{{:helper.link("Change LogNet Password", 'radiation', {'action' : 'change_password'})}} Password: <b>{{:data.faction_password}}</b>
	{{/if}}
	{{if data.menu == 5}}
		<h2>{{:data.faction_name}} ({{:data.faction_uid}})</h2><br>
		<h2>Network Options</h2>
		<hr>
		<br>{{:helper.link("Change Network Display Name", 'pencil', {'action' : 'change_networkname'})}} Display Name: <b>{{:data.network_name}}</b>
		<br>{{:helper.link("Change Network UID", 'pencil', {'action' : 'change_networkuid'})}} Network UID: <b>{{:data.network_uid}}</b>
		<br>{{:helper.link("Change Network Password", 'locked', {'action' : 'change_networkpassword'})}} Password: <b>{{:data.network_password}}</b>
		<br>{{:helper.link("Toggle Network Visbility", 'search', {'action' : 'change_networkvisible'})} Network Visible: <b>{{:data.network_visible}}</b>
	{{/if}}
	{{if data.menu == 6}}
		<h2>{{:data.faction_name}} ({{:data.faction_uid}})</h2><br>
		<h2>Access Configuration</h2>
		<hr>
		<br>{{:helper.link("Create New Access Catagory", 'pencil', {'action' : 'create_accesscatagory'})}} Display Name: 
		<br>{{:helper.link("Change New Access Entry", 'pencil', {'action' : 'create'})}} Network UID:
		<hr>
		<h3>Core Access</h3> - Core access cannot be changed or used outside their named purpose.<br>
		[1 - Logistic Control, Leadership][2 - Command Programs & Records][3 - Engineering Programs][4 - Medical Programs][5 - Security Programs][6 - Wireless Controls, Router access][7-9 Reserved]
		{{for data.access_catagories}}
		
		{{/for}}
	{{/if}}
{{else}}
	<h2><span class='alert'><i>No operational Logistics Processor detected. <br>CHECK LOG PROCESSOR</i></span></h2>
{{/if}}