<h2>Neural Lace Control Panel</h2>
<br><hr>
{{if data.living}}
	{{:helper.link("General Info", 'wrench', {'action' : 'change_menu', 'menu_target' : '1'}, data.menu == 1 ? 'selected' : null)}}
	{{:helper.link("Money Account/Transfers", 'locked', {'action' : 'change_menu', 'menu_target' : '2'}, data.menu == 2 ? 'selected' : null)}}
	{{:helper.link("Nexus Elections System", 'cross', {'action' : 'change_menu', 'menu_target' : '3'}, data.menu == 3 ? 'selected' : null)}}
	{{:helper.link("Friend & Visibility", 'check', {'action' : 'change_menu', 'menu_target' : '4'}, data.menu == 4 ? 'selected' : null)}}
	{{if data.menu == 1}}
		<h3>General Info</h3><br>
		<div class='item'>
			<div class='itemLabel'>
				Work Status:
			</div>
			<div class='itemContent'>
				{{:data.work_status}}
			</div>
		</div>
		{{if data.clock_outable}}
			<div class='item'>
				<div class='itemLabel'>
					Clock Out:
				</div>
				<div class='itemContent'>
					{{:helper.link("Clock out", '', {'action' : 'clock_out'},  null)}}
				</div>
			</div>
		{{/if}}
		<h3>Available Employers</h3><br>
		<div class='block'>
			{{for data.potential}}
				 {{:helper.link(value.name, '', {'action' : 'connect', 'selected_ref' : value.ref}, value.selected ? 'selected' : null)}}
				<br><br>
			{{/for}}
		</div>
		<br><hr>
		<div class='item'>
			<div class='itemLabel'>
				Email:
			</div>
			<div class='itemContent'>
				{{:data.email_status}}
			</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>
				Citizenship Level:
			</div>
			<div class='itemContent'>
				{{:data.citizenship_status}}
			</div>
		</div>
	{{/if}}
	{{if data.menu == 2}}
		<h3>Money Account</h3><br>
		<div class='item'>
			<div class='itemLabel'>
				Account Balance:
			</div>
			<div class='itemContent'>
				{{:data.account_balance}}$$
			</div>
		</div>
		<div class='item'>
			<div class='itemLabel'>
				Money Transfer:
			</div>
			<div class='itemContent'>
				{{:helper.link('Start Transfer', '', {'action' : 'transfer'})}}
			</div>
		</div>
		<br><br>
		<h4>Recent Transactions</h4><hr><br>
		{{:helper.link('Newer Page', 'bullet', {'page_down' : 1}, data.page_down ? null : 'disabled')}}{{:helper.link('Older Page', 'bullet', {'page_up' : 1}, data.page_up ? null : 'disabled')}}<br><br>
		<div class="statusDisplay" style="overflow: auto;">
			{{if data.transactions}}
				<table style='width: 100%'>
				  <thead>
					<tr>
					  <th><b>Timestamp</b></th>
					  <th><b>Target</b></th>
					  <th><b>Reason</b></th>
					  <th><b>Ethericoin</b></th>
					</th>
				  </thead>
				  <tbody>
					  {{for data.transactions}}
						<tr>
							<td>{{:value.date}} {{:value.time}}</td>
							<td>{{:value.target_name}}</td>
							<td>{{:value.purpose}}</td>
							<td>$${{:value.amount}}</td>
						</tr>
					  {{/for}}
				  </tbody>
				</table>
			{{else}}
				<span class='alert'>This account has no financial transactions on record.</span>
			{{/if}}
		</div>
	{{/if}}
	{{if data.menu == 3}}
		<h3>Nexus Elections System</h3><br><hr>
		{{if data.current_election}}
			{{if data.selected_ballot}}
				<h4>{{:data.election_name}} {{:data.ballot_name}}}</h4><br>
				{{:helper.link('Back', '', {'action' : 'deselect_ballot'})}}<br><br><hr>
				{{for data.candidates}}
					<b>{{:value.name}}</b><br>
					<i>{{:value.pitch}}</i><br><br>
					Vote for {{:helper.link(value.name, '', {'action' : 'vote', 'ref' : value.ref}, data.voted ? 'disabled' : null)}}<br><br><hr>
				{{/for}}
			{{else}}
				<h4>{{:data.election_name}}</h4><br>
				{{for data.ballots}}
					{{:helper.link(value.name, '', {'action' : 'select_ballot', 'ref' : value.ref})}}
				{{/for}}
			{{/if}}
		{{else}}
			Next election is saturday.
		{{/if}}
	{{/if}}
	{{if data.menu == 4}}
		<h3>Friends & Visibility</h3><br><hr>
			If your public visibility status is on, you will show up when active to any friends and social organizations you are a part of.
			When you accept a friend request, you become mutual friends with the person and can see when each other are out of cryosleep and publically visible.
			<br><br>
			{{:helper.link('Send Friend Request', '', {'action' : 'add_friend'})}}<br>
			<div class='item'>
				<div class='itemLabel'>
					Visibility Status:
				</div>
				<div class='itemContent'>
					{{:helper.link('Visible', '', {'action' : 'toggle_visible'}, data.visible ? 'selected' : null)}}{{:helper.link('Off', '', {'action' : 'toggle_invisible'}, data.visible ? null : 'selected')}}
				</div>
			</div>
			<br>
			<b>Friend Requests</b>
			<div class="statusDisplay" style="overflow: auto;">
				{{for data.friend_requests}}
					{{:value.name}}{{:helper.link('ACCEPT', '', {'action' : 'accept_request', 'ref' : value.name})}}{{:helper.link('DENY', '', {'action' : 'deny_request', 'ref' : value.name})}}<br><br>
				{{/for}}
			</div>
			<br>
			<b>Available Friends</b>
			<div class="statusDisplay" style="overflow: auto;">
				{{for data.online_friends}}
					{{:value.name}}{{:helper.link('X', '', {'action' : 'remove_friend', 'ref' : value.name})}}<br><br>
				{{/for}}
			</div>
			<br>
			<b>Unavailable Friends</b>
			<div class="statusDisplay" style="overflow: auto;">
				{{for data.offline_friends}}
					{{:value.name}}{{:helper.link('X', '', {'action' : 'remove_friend', 'ref' : value.name})}}<br><br>
				{{/for}}
			</div>
	{{/if}}

{{else}}
	<h3>Death Controls</h3><br>
	Your conciousness burns inside this mechanical prison. You review your options.<br>
	<div class='item'>
		<div class='itemLabel'>
			{{:helper.link("Accept Death, Move on", '', {'action' : 'die'},  null)}}
		</div>
		<div class='itemContent'>
			This allows your conciousness to depart from the lace. You will permanently depart from this universe.
		</div>
	</div>
	<div class='item'>
		<div class='itemLabel'>
			{{:helper.link("Teleport back to Nexus Lace Storage", '', {'action' : 'teleport'}, data.can_teleport ? null : 'disabled')}}
		</div>
		<div class='itemContent'>
			After enough time, your lace will be able to signal back to Nexus to be teleported to the lace storage where you can request cloning or safely rest. Being inside an LMI delays this process.
			{{if data.can_teleport}}
				Teleport ready!
			{{else}}
				{{:data.time_teleport}} minutes to teleport.
			{{/if}}
		</div>
	</div>
	
{{/if}}
