<h2>Library Control</h2><hr>
<br><br>
{{:helper.link('View Titles, '', {'action' : 'change_menu', 'target' : '1'}, data.menu == 1 ? 'selected' : null)}}
{{:helper.link('Publish', '', {'action' : 'change_menu', 'target' : '2'}, data.menu == 2 ? 'selected' : null)}}
{{if data.menu == 1}}
	<h4>View Titles</h4>
	<div class='itemLabel'>
		Published Titles:
	</div>
	<br><br>
	<div class='block'>
		{{for data.titles}}
			{{:helper.link(value.name, '', {'action' : 'select_title', 'ref' : value.ref}, null)}}<br><br>
		{{/for}}
	</div>
{{/if}}
