<!--

-->
<H2>Core Cooling Control System</H2>
<BR/>
<H3>Sensor Data:</H3>
{{for data.sensor_information}}
	<div class='item'>
		<div class='itemLabelWide'>
			<B>{{:value.key1}}:</B>
		</div>
	</div>
	<div class='item'>
		{{if value.pressure}}
			<div class="itemLabel">
				<span class='average'>Pressure:</span>{{:value.pressure}} kPa
			</div>
		{{/if}}
		{{if value.temperature}}
			<div class="itemLabel">
				<span class='average'>Temperature:</span>{{:value.temperature}} K
			</div>
		{{/if}}
	</div>
	<div class='item'>
		<div class='itemLabel'>
			<B>Gas Composition :</B>
		</div>
		<div class='itemContent'>
			{{for value.gas}}
				<div class="itemLabel">
					<span class='average'>{{:value.key1}}:</span> {{:value.key2}} %
				</div>
			{{/for}}
		</div>
	</div>
{{empty}}
	<span class='bad'>ERROR: No sensor information available!</span>
{{/for}}
{{if data.inputConnected}}
	<div class='itemWide'>
		<div class='itemLabelWide'>
			Coolant Input:
		</div>
		<div class='itemContentMedium'>
			<span class='average'>State:</span> {{:helper.link(data.inputState? 'Injecting' : 'On Hold', null, {'in_toggle_injector' : 1})}}
			<BR/>
			<span class='average'>Flow Rate:</span> 
			{{:helper.link('-100', '', {'adj_input_flow_rate' : -100})}}
			{{:helper.link('-10', '', {'adj_input_flow_rate' : -10})}}
			{{:data.inputFlowRate}} L/s 
			{{:helper.link('+10', '', {'adj_input_flow_rate' : 10})}}
			{{:helper.link('+100', '', {'adj_input_flow_rate' : 100})}}
		</div>
		<div class='itemContent'>
			{{:helper.link('Refresh', null, { 'in_refresh_status' : 1})}}
		</div>
	</div>
{{else}}
	<SPAN class='bad'>ERROR: No injector connected!</SPAN> {{:helper.link('Refresh', null, { 'in_refresh_status' : 1})}}
{{/if}}
{{if data.outputConnected}}
	<div class='itemWide'>
		<div class='itemLabelWide'>
			Core Outpump:
		</div>
		<div class='itemContentMedium'>
			<span class='average'>State:</span> {{:helper.link(data.outputState? 'Open' : 'On Hold', null, {'out_toggle_power' : 1})}}
			<span class='average'>Direction:</span> {{:helper.link(data.outputPumpDir? 'Siphon' : 'Release', null, {'out_toggle_dir' : 1})}}
			<span class='average'>Max Output Pressure:</span> {{:helper.link(data.outputPressure + ' kPa', null, {'out_set_pressure' : 1})}}
		</div>
		<div class='itemContent'>
			{{:helper.link('Refresh', null, { 'out_refresh_status' : 1})}}
		</div>
	</div>
{{else}}
	<SPAN class='bad'>ERROR: No output vent connected!</SPAN> {{:helper.link('Refresh', null, { 'out_refresh_status' : 1})}}
{{/if}}